Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

.lintstagedrc.json:

{
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && npm run typecheck",
    "cd frontend && npm run lint:fix",
    "cd frontend && npm run format"
  ],
  "frontend/**/*.css": [
    "cd frontend && npm run format"
  ],
  "backend/**/*.rs": [
    "cargo fmt --manifest-path backend/Cargo.toml --",
    "cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings"
  ]
}

feat: Add backend lint-staged config (Step 2)
  .husky/pre-commit
  backend/.lintstagedrc.js
  backend/src/main.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: Remove root lint-staged config (Step 3)
  .lintstagedrc.js
Due: none

chore: Remove test comments
  backend/src/main.rs
  frontend/src/App.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: Remove frontend tests from pre-commit hook
  .husky/pre-commit
Due: none

docs: Mark Workflow Phase 1 as completed
  doc/todo.md
Due: none

docs: Add worktree setup documentation and Phase 2
  CLAUDE.md
  doc/todo.md
Due: none

docs: Mark Phase 1 completion conditions as verified
  doc/todo.md
Due: none

docs: Mark Backend Phase 4 as completed
  doc/todo.md
Due: none

feat: Update Street View URL to new Google Maps API format
  backend/src/domain/junction.rs
  doc/todo.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: Remove road_types from backend (Phase 5)
  backend/migrations/001_create_y_junctions.sql
  backend/src/db/repository.rs
  backend/src/domain/junction.rs
  backend/src/importer/detector.rs
  backend/src/importer/inserter.rs
  backend/src/importer/parser.rs
  backend/tests/api_tests.rs
  doc/mvp-requirements.md
  doc/todo.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: Remove road_types from SQL queries in repository
  backend/src/db/repository.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: Remove road_types from frontend
  doc/todo.md
  frontend/src/components/JunctionPopup.tsx
  frontend/src/hooks/useJunctions.ts
  frontend/src/types/index.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: Add minimum angle filter to exclude T-junctions
  backend/src/importer/parser.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: Redesign angle classification to 4-tier system
  backend/src/api/handlers.rs
  backend/src/db/repository.rs
  backend/src/domain/junction.rs
  frontend/src/types/index.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: Update frontend for new classification and improve UI
  frontend/src/App.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/MapView.tsx
  frontend/src/hooks/useFilters.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

docs: Add comprehensive setup guide
  README.md
Due: none

fix: Update tests for new angle classification system
  backend/src/domain/junction.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: Update mock data for new angle classification
  frontend/src/hooks/useJunctions.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: Fix Prettier formatting in useFilters.ts
  frontend/src/hooks/useFilters.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

docs: Add mandatory checks and clippy to CLAUDE.md
  CLAUDE.md
Due: none

fix: Correct counter placement in importer
  backend/src/importer/parser.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: Add comprehensive documentation for classification system and API
  README.md
Due: none

chore: Add Terraform configuration for GCP and Neon deployment
  .gitignore
  .mise.toml
  terraform/backend.tf
  terraform/frontend.tf
  terraform/neon.tf
  terraform/outputs.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
  terraform/versions.tf
Due: none

feat: Add Docker configuration for backend
  backend/.dockerignore
  backend/Dockerfile
Due: none

fix: Add TLS support for Neon database and optimize Cloud Build
  backend/.gcloudignore
  backend/Cargo.toml
  terraform/backend.tf
  terraform/neon.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: none

feat: Configure frontend for production deployment
  frontend/.env.production
  frontend/src/api/client.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

docs: Add deployment procedures documentation
  DEPLOY.md
Due: none

docs: Update data import procedure in DEPLOY.md
  DEPLOY.md
  backend/.gitignore
Due: none

docs: Use Terraform outputs instead of hardcoded URLs
  DEPLOY.md
Due: none

feat: Enable deletion protection for Cloud Run service
  terraform/backend.tf
Due: none

docs: Add git-worktree-runner setup and simplify CLAUDE.md
  CLAUDE.md
  README.md
Due: none

chore: Add mise tasks for deployment automation
  .mise.toml
  DEPLOY.md
Due: none

docs: Add mise trust to worktree setup
  README.md
Due: none

feat: Add GitHub Actions infrastructure with Terraform
  doc/deploy-automation-todo.md
  doc/github-actions-deployment.md
  terraform/github-actions.tf
  terraform/outputs.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: none

feat: Add bearing calculation for Street View heading direction
  backend/migrations/002_add_bearings.sql
  backend/src/db/repository.rs
  backend/src/domain/junction.rs
  backend/src/importer/calculator.rs
  backend/src/importer/detector.rs
  backend/src/importer/inserter.rs
  backend/src/importer/parser.rs
  backend/tests/api_tests.rs
  doc/todo.md
  frontend/src/hooks/useJunctions.ts
  frontend/src/types/index.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: Update Phase 1 progress with PR #22
  doc/deploy-automation-todo.md
Due: none

fix: Remove project-level roles/iam.serviceAccountUser permission
  terraform/github-actions.tf
Due: none

docs: Add comment explaining f32 precision trade-off for bearings
  backend/src/domain/junction.rs
  doc/todo.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: Migrate backend:migrate task to sqlx-cli
  .mise.toml
Due: none

feat: Add GitHub Actions deployment automation
  .github/workflows/deploy.yml
Due: none
