Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

.lintstagedrc.json:

{
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && npm run typecheck",
    "cd frontend && npm run lint:fix",
    "cd frontend && npm run format"
  ],
  "frontend/**/*.css": [
    "cd frontend && npm run format"
  ],
  "backend/**/*.rs": [
    "cargo fmt --manifest-path backend/Cargo.toml --",
    "cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings"
  ]
}

chore: enrich-elevation Job を pipeline DAG に追加 (#257) (#273)
  README.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/bin/pipeline_enrich_elevation.rs
  backend/src/bin/pipeline_load_to_cockroach.rs
  backend/src/bin/pipeline_prepare_serving.rs
  backend/src/importer/elevation.rs
  backend/src/importer/mod.rs
  backend/src/pipeline/parquet_io.rs
  doc/enrich-elevation.md
  pipeline/Dockerfile
  pipeline/datasets.json
  terraform/backend.tf
  terraform/pipeline.tf
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: README にデータパイプライン構成図 (mermaid) を追加
  README.md
Due: none

chore: prod DB migration step を migration 変更時のみ実行する (#240)
  .github/workflows/deploy.yml
Due: none

chore: prod DB migration step を migration 変更時のみ実行する (#240) (#279)
  .github/workflows/deploy.yml
Due: none

docs: CLAUDE.md を簡潔化（181→110行）
  CLAUDE.md
Due: none

docs: CLAUDE.md から Terraform 操作節を削除（README と重複）
  CLAUDE.md
Due: none

docs: コミット前チェックの手動コマンド記載を削除
  CLAUDE.md
Due: none

fix(deps): update quinn-proto to 0.11.15 (RUSTSEC-2026-0185)
  backend/Cargo.lock
Due: none

ci: bump Rust toolchain to 1.94.0 for sqlx 0.9 MSRV
  .github/workflows/backend-ci.yml
  .github/workflows/deploy.yml
Due: none

fix(deps): migrate to sqlx 0.9 query API
  backend/src/db/repository.rs
  backend/src/importer/inserter.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

ci: ignore quick-xml DoS advisories with no upstream fix
  .github/workflows/backend-ci.yml
Due: none

fix(deps): pin typescript to ^6.0.3 (7.x breaks @typescript-eslint peer)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): bump crossbeam-epoch to 0.9.20 (RUSTSEC-2026-0204)
  backend/Cargo.lock
Due: none

docs: SonarQube Cloud 導入の設計ドキュメントを追加
  doc/sonarqube-cloud.md
Due: none

chore: SonarQube Cloud によるリポジトリ品質評価を追加
  .github/workflows/sonar.yml
  .gitignore
  README.md
  doc/sonarqube-cloud.md
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
  sonar-project.properties
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

chore: SonarQube 解析の CI ワークフローを取りやめローカル実行に寄せる
  .github/workflows/sonar.yml
  README.md
  doc/sonarqube-cloud.md
Due: none

fix: sonar.sources をリポジトリ全体に広げ既存の指摘を落とさないようにする
  README.md
  doc/sonarqube-cloud.md
  sonar-project.properties
Due: none

chore: sonar-scanner の作業ディレクトリを gitignore する
  .gitignore
Due: none

fix: .mise.toml の Rust を 1.94.0 に修正する
  .mise.toml
Due: none

chore: SonarQube 解析を mise タスクにまとめる
  README.md
  doc/sonarqube-cloud.md
Due: none

chore: SONAR_TOKEN を .env から mise 経由で読ませる
  .mise.toml
  README.md
  doc/sonarqube-cloud.md
Due: none

chore: 設定を読めば分かるコメントを削る
  .mise.toml
  sonar-project.properties
Due: none

chore: backend/migrations を解析対象から除外する
  doc/sonarqube-cloud.md
  sonar-project.properties
Due: none

fix: SONAR_TOKEN の露出範囲を狭める
  .mise.toml
  README.md
  doc/sonarqube-cloud.md
Due: none

chore: SonarQube Cloud によるリポジトリ品質評価を追加 (#297)
  .gitignore
  .mise.toml
  README.md
  doc/sonarqube-cloud.md
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
  sonar-project.properties
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: 香港・マカオの除外bboxをOSM実測境界に合わせる
  backend/src/domain/china.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: 香港・マカオの除外bboxをOSM実測境界に合わせる (#300)
  backend/src/domain/china.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

data: 香港・マカオのY字路データを追加
  doc/data-updates.md
Due: none

data: 香港・マカオのY字路データを追加 (#301)
  doc/data-updates.md
Due: none

docs: 主要都市ジャンプ機能の設計ドキュメントを追加
  docs/superpowers/specs/2026-08-08-city-jump-design.md
Due: none

docs: 主要都市ジャンプ機能の実装計画を追加
  docs/superpowers/plans/2026-08-08-city-jump.md
Due: none

feat: 主要都市の固定データ (cities.ts) を追加
  frontend/src/data/cities.test.ts
  frontend/src/data/cities.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

chore: frontend/src/data をgitignoreの対象から除外
  .gitignore
Due: none

feat: 都市ジャンプ用の select UI (CityJumpSelect) を追加
  frontend/src/components/CityJumpSelect.test.tsx
  frontend/src/components/CityJumpSelect.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: MapView に都市ジャンプ (jumpTarget/CityFlyTo) を追加
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: App に都市ジャンプを結線し MapView へ jumpTarget を渡す
  frontend/src/App.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

style: 都市ジャンプ select のスタイルを追加
  frontend/src/App.css
Due: cd frontend && npm run format

test: 都市数分布と同一都市再選択のテストを追加
  frontend/src/components/CityJumpSelect.test.tsx
  frontend/src/data/cities.test.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

test: 都市数分布テストを削除（変更検知のみで価値が低い）
  frontend/src/data/cities.test.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

test: 保証内容のないテストを削除（件数・非空チェック）
  frontend/src/data/cities.test.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format
