Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: ストリートビュー非カバレッジノードを地図から除外 (#306) (#312)
  backend/src/api/streetview_enricher.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: Dockerfile の Rust を 1.94 に揃える
  backend/Dockerfile
  pipeline/Dockerfile
Due: none

docs: dependabot-backend skill にマージ前の Rust バージョン確認を追加
  .claude/commands/dependabot-backend.md
Due: none

docs: skill からイメージビルドの検証手順を削除
  .claude/commands/dependabot-backend.md
Due: none

chore: Dockerfile の Rust を 1.94 に揃えて本番デプロイを復旧する (#313)
  .claude/commands/dependabot-backend.md
  backend/Dockerfile
  pipeline/Dockerfile
Due: none

fix: backend の builder を bookworm に固定して起動失敗を直す
  backend/Dockerfile
Due: none

fix: backend の builder を bookworm に固定して起動失敗を直す (#316)
  backend/Dockerfile
Due: none

ci: backend/pipeline の Docker イメージビルドと起動確認を PR CI に追加 (#314)
  .github/workflows/backend-ci.yml
Due: none

ci: autolabeler の data ラベルからタイトル条件を外す
  .github/release-drafter.yml
Due: none

ci: backend-ci のトークン権限を絞る
  .github/workflows/backend-ci.yml
Due: none

ci: ルートに .dockerignore を追加して pipeline のビルドコンテキストを絞る
  .dockerignore
Due: none

ci: backend/pipeline の Docker イメージビルドと起動確認を PR CI に追加 (#314) (#317)
  .dockerignore
  .github/release-drafter.yml
  .github/workflows/backend-ci.yml
Due: none

ci: デプロイしたリビジョンが配信されていることを検証する (#315)
  .github/workflows/deploy.yml
Due: none

ci: 本番デプロイを concurrency で直列化する (#315)
  .github/workflows/deploy.yml
Due: none

ci: ロールバック先をデプロイ前に配信していたリビジョンにする (#315)
  .github/workflows/deploy.yml
Due: none

Revert "ci: ロールバック先をデプロイ前に配信していたリビジョンにする (#315)"
  .github/workflows/deploy.yml
Due: none

ci: デプロイしたリビジョンが配信されていることを検証する (#315) (#318)
  .github/workflows/deploy.yml
Due: none

fix: 貫通 way を持つ 4 分岐交差点を Y字路として検出しないようにする (#319)
  backend/src/importer/detector.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: Y字路の実分岐数を PBF から数え直す監査スクリプトを追加
  scripts/audit_passing_way_junctions.py
Due: none

refactor: 今回追加した分岐列挙をイテレータで書き直す
  backend/src/importer/detector.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

refactor: 未使用の get_neighboring_nodes を削除する
  backend/src/importer/detector.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: 監査スクリプトの OPL エスケープ解除を %XX% 形式に直す
  scripts/audit_passing_way_junctions.py
Due: none

fix: 貫通 way を持つ 4 分岐交差点を Y字路として検出しないようにする (#319) (#321)
  backend/src/importer/detector.rs
  scripts/audit_passing_way_junctions.py
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: #319 の誤検出ノードを本番から削除するための運用スクリプトを追加 (#323)
  scripts/audit_all_regions.sh
  scripts/backup_prod_junctions.sh
  scripts/delete_prod_false_positives.sh
  scripts/merge_audit_results.py
Due: none

chore: 使い捨ての本番削除スクリプトを落とす (#323)
  scripts/delete_prod_false_positives.sh
Due: none

chore: #319 の誤検出ノード 64,283 件を本番から削除する (#323) (#324)
  scripts/audit_all_regions.sh
  scripts/backup_prod_junctions.sh
  scripts/merge_audit_results.py
Due: none

chore: /sync-from-prod で google_streetview_coverage も同期する (#325)
  .claude/commands/sync-from-prod.md
Due: none

fix: 分岐が一方向に偏った 3 分岐ノードを Y字路として検出しないようにする (#320)
  backend/src/importer/parser.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: 分岐が一方向に偏った 3 分岐ノードを Y字路として検出しないようにする (#320) (#326)
  backend/src/importer/parser.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: 中国対応で得た知見を note 記事の下書きにまとめる
  doc/note-china-coordinates.md
Due: none

fix(deps): typescript を ^6.0.3 に据え置く
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: スラッシュコマンドを skill に変換する
  .claude/skills/add-region/SKILL.md
  .claude/skills/dependabot-backend/SKILL.md
  .claude/skills/dependabot-frontend/SKILL.md
  .claude/skills/dependabot/SKILL.md
  .claude/skills/deploy-data/SKILL.md
  .claude/skills/sync-from-prod/SKILL.md
  doc/streetview-coverage-filter.md
Due: none

fix(deps): CIを通すための修正
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: CLAUDE.md に実行環境（pi-coding-agent / Claude Code）の節を追加
  CLAUDE.md
Due: none

fix(deps): resolve h2/rustls RUSTSEC advisories surfaced by security audit CI
  backend/Cargo.lock
Due: none

fix(deps): hold typescript at 6.x for eslint-plugin compat, fix vitest 5 matcher types
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test/setup.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: pi(gondolin)経由でホストのDBに接続するための設定を追加
  .gondolin.json
Due: none

feat(pi): プロジェクトローカルのClaude Code skillをpiから利用可能にする
  .pi/settings.json
Due: none

docs: 中国座標系ノートのズレ実測値を東方明珠塔基準に統一し表を箇条書きに
  doc/note-china-coordinates.md
Due: none

chore(scripts): 閉路 way のノード接続を PBF から確認するスクリプトを追加
  scripts/inspect_node_ways.py
Due: none

Path conditions:
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx}
  cd frontend && npm run lint:fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && npm run format: (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.css)
  cargo fmt --manifest-path backend/Cargo.toml --: any of: backend/**/*.rs
  cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings: any of: backend/**/*.rs
