Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: add 2-way Y-junction detection investigation and design
  doc/2way-y-junction-detection.md
Due: none

feat: implement separate 2-way Y-junction detection
  backend/src/bin/import_two_way.rs
  backend/src/importer/detector.rs
  backend/src/importer/mod.rs
  backend/src/importer/parser.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: add junction data normalization plan
  doc/junction-normalization-plan.md
Due: none

docs: update README for 2-way junction import
  README.md
Due: none

fix: 2-way処理のログメッセージを修正
  backend/src/importer/parser.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

refactor: find_two_way_junction_candidatesをヘルパーメソッドに分割
  backend/src/importer/detector.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: exclude motorway/motorway_link from import process
  README.md
  backend/src/importer/detector.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: 道路カテゴリの文言を「高速道路級」から「幹線道路」に変更
  frontend/src/components/FilterPanel.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

docs: 2-way Y字路追加と高速道路系除外のデータ更新を記録
  doc/data-updates.md
Due: none

perf: remove COUNT(*) OVER() to improve query performance by 84x
  backend/src/db/repository.rs
  backend/tests/api_tests.rs
  frontend/src/components/StatsDisplay.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: add defensive clamp for limit to prevent negative values
  backend/src/db/repository.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

Remove Y-junctions with minimum angle < 10°
  README.md
  backend/src/importer/parser.rs
  doc/data-updates.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

Update frontend angle filter to start from 10°
  frontend/src/components/FilterPanel.tsx
  frontend/src/hooks/useFilters.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

フロントエンドの角度フィルターを10度からスタートに変更
  frontend/src/components/FilterPanel.tsx
  frontend/src/hooks/useFilters.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

Fix backend deployment trigger to exclude import tools
  .github/workflows/deploy.yml
Due: none

高低差フィルタを0.1m単位で調整可能に変更
  frontend/src/components/FilterPanel.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

Add cold start performance investigation document
  doc/cold-start-optimization.md
Due: none

Enable Startup CPU Boost for Cloud Run
  README.md
  terraform/backend.tf
Due: none

Fix startup_cpu_boost configuration
  terraform/backend.tf
Due: none

Fix hardcoded path in README
  README.md
Due: none

Update cold start documentation with Phase 1 results
  doc/cold-start-optimization.md
Due: none

Update cold start documentation with accurate cost and technical info
  doc/cold-start-optimization.md
Due: none

Fix Connection Pooler evaluation from unknown to access-pattern-dependent
  doc/cold-start-optimization.md
Due: none

Confirm Connection Pooler is free on all Neon plans
  doc/cold-start-optimization.md
Due: none

Update Neon pricing to reflect 2026 usage-based plans
  doc/cold-start-optimization.md
Due: none

Fix broken Neon Scale to Zero documentation URL
  doc/cold-start-optimization.md
Due: none

chore: Fix Dependabot configuration to consolidate PRs
  .github/dependabot.yml
Due: none

fix: Add applies-to setting for security updates in Dependabot groups
  .github/dependabot.yml
Due: none

Revert "fix: Add applies-to setting for security updates in Dependabot groups"
  .github/dependabot.yml
Due: none

perf: Implement connect_lazy() for improved availability
  backend/src/main.rs
  doc/cold-start-optimization.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

perf: Integrate Google Cloud Logging trace correlation
  backend/src/lib.rs
  backend/src/logging.rs
  backend/src/main.rs
  backend/src/middleware.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: Add input validation for trace context parsing
  backend/src/logging.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: Preserve trace_sampled semantics by avoiding unwrap_or(false)
  backend/src/middleware.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: Add BigQuery log analysis plan
  doc/log-analysis-plan.md
Due: none

docs: Add database migration strategy for Neon/CockroachDB switching
  doc/database-migration-strategy.md
Due: none

fix(deps): Update geo crate API usage to non-deprecated methods
  backend/src/importer/calculator.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

refactor(db): Replace && operator with ST_Intersects for CockroachDB compatibility
  backend/src/db/repository.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix(deps): Update bytes and flate2 to fix security audit
  backend/Cargo.lock
Due: none

feat(db): Add CockroachDB support for local development
  backend/.env.example
  backend/tests/api_tests.rs
  doc/database-migration-strategy.md
  docker-compose.yml
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat(infra): Add CockroachDB Serverless to production infrastructure
  terraform/cockroachdb.tf
  terraform/outputs.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
  terraform/versions.tf
Due: none

Path conditions:
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx}
  cd frontend && npm run lint:fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && npm run format: (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.css)
  cargo fmt --manifest-path backend/Cargo.toml --: any of: backend/**/*.rs
  cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings: any of: backend/**/*.rs
