Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

.lintstagedrc.json:

{
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && npm run typecheck",
    "cd frontend && npm run lint:fix",
    "cd frontend && npm run format"
  ],
  "frontend/**/*.css": [
    "cd frontend && npm run format"
  ],
  "backend/**/*.rs": [
    "cargo fmt --manifest-path backend/Cargo.toml --",
    "cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings"
  ]
}

perf: skip elevation import for junctions with existing data
  backend/src/db/repository.rs
  backend/src/importer/mod.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: add elevation import parallelization strategy document
  doc/elevation-import-parallelization.md
Due: none

perf: parallelize elevation import with DashMap and rayon
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/importer/elevation.rs
  backend/src/importer/mod.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: update rayon to 1.11
  backend/Cargo.toml
Due: none

docs: add PostgreSQL COPY-based production data import procedure
  README.md
Due: none

fix: handle null min_angle_elevation_diff in JunctionPopup
  frontend/src/components/JunctionPopup.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: リリースノート自動生成の仕組みを追加
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  doc/data-updates.md
  doc/release-workflow.md
  doc/setup-github-labels.md
Due: none

refactor: GitHubラベルを端的な英語表記に変更
  .github/release-drafter.yml
  doc/release-workflow.md
  doc/setup-github-labels.md
Due: none

refactor: ブランチ命名規則を簡素化
  .github/release-drafter.yml
  README.md
  doc/release-workflow.md
Due: none

refactor: ブランチ名とラベル名を統一
  .github/release-drafter.yml
  README.md
Due: none

Add Chubu region data (68,097 junctions, 97.3% elevation coverage)
  doc/data-updates.md
  frontend/package-lock.json
Due: none

chore: improve release-drafter configuration
  .github/release-drafter.yml
  README.md
Due: none

Add Chugoku region data (35,097 junctions, 89.2% elevation coverage)
  doc/data-updates.md
Due: none

chore: enable auto-publish for release-drafter
  .github/workflows/release-drafter.yml
Due: none

chore: prevent auto-publish for internal PRs in release-drafter
  .github/workflows/release-drafter.yml
Due: none

feat(data): Add pedestrian way detection with core highway filtering
  backend/src/importer/detector.rs
  doc/data-updates.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

perf(import): Optimize OSM import with single-pass PBF reading
  backend/src/importer/parser.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs(perf): Add performance optimization plan
  doc/performance-optimization.md
Due: none

docs: fix Phase numbering inconsistency in performance doc
  doc/performance-optimization.md
Due: none

perf(import): Parallelize bbox filtering and angle calculation with rayon
  backend/src/importer/parser.rs
  doc/performance-optimization.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs(perf): Update Phase 2 benchmark with accurate measurements
  doc/performance-optimization.md
Due: none

docs: use pre-built binaries instead of cargo run
  README.md
Due: none

perf(import): Parallelize PBF parsing with par_map_reduce
  backend/src/importer/detector.rs
  backend/src/importer/parser.rs
  doc/performance-optimization.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: simplify release-drafter to always create drafts
  .github/workflows/release-drafter.yml
Due: none

fix: update path parameter syntax for axum 0.8 compatibility
  backend/src/api/routes.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: add Okinawa elevation data import record
  doc/data-updates.md
Due: none

docs: add Hokkaido data import record
  doc/data-updates.md
Due: none

feat: add release notes link to footer
  frontend/src/App.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

docs: add highway_type and category implementation plan
  doc/highway-type-implementation-plan.md
Due: none

feat: add highway_type and category data storage (PR1)
  backend/migrations/005_add_highway_type_and_category.sql
  backend/src/importer/detector.rs
  backend/src/importer/inserter.rs
  backend/src/importer/parser.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: add category search filter for API (PR2)
  backend/src/api/handlers.rs
  backend/src/db/repository.rs
  backend/src/domain/junction.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: use axum-extra for proper array query parameter support
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/api/handlers.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: remove debug code from test helper function
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: add category search filter UI (PR3)
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/FilterPanel.tsx
  frontend/src/hooks/useFilters.ts
  frontend/src/types/index.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

docs: add highway type filtering spec and nationwide import record
  README.md
  doc/data-updates.md
Due: none

docs: add work start checklist to CLAUDE.md
  CLAUDE.md
Due: none

docs: clarify data count discrepancy in data-updates.md
  doc/data-updates.md
Due: none

docs: update production data import procedure to include highway types
  README.md
Due: none

fix: カテゴリフィルタのラベルを「歩道」から「歩行者系」に修正
  frontend/src/components/FilterPanel.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format
