Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run lint:fix, cd frontend && npm run format, cd backend && cargo fmt --all

.lintstagedrc.json:

{
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && npm run lint:fix",
    "cd frontend && npm run format"
  ],
  "frontend/**/*.css": [
    "cd frontend && npm run format"
  ],
  "backend/**/*.rs": [
    "cd backend && cargo fmt --all"
  ]
}

chore: Update .gitignore for monorepo node_modules
  .gitignore
Due: none

fix: Improve pre-commit hook with subshell and better error handling
  .husky/pre-commit
Due: none

test: Add Vitest setup file for frontend
  frontend/src/test/setup.ts
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

style: Format backend code with cargo fmt
  backend/src/db/mod.rs
  backend/src/db/repository.rs
  backend/src/domain/junction.rs
Due: cd backend && cargo fmt --all

style: Format frontend code with Prettier and update package-lock.json
  frontend/package-lock.json
  frontend/src/api/client.ts
  frontend/src/components/MapView.tsx
  frontend/src/hooks/useJunctions.ts
  frontend/src/main.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

ci: Add GitHub Actions workflow for PR and push checks
  .github/workflows/ci.yml
Due: none

fix: Add typecheck and clippy to pre-commit hooks
  .lintstagedrc.json
Due: none

style: Format parser.rs after merging from main
  backend/src/importer/parser.rs
Due: cd backend && cargo fmt --all

fix: Run CI on all PRs, not just main/workflow branches
  .github/workflows/ci.yml
Due: none

test: verify pre-commit passes on passing test
  frontend/src/App.test.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

test: verify pre-commit passes with no tests
  frontend/src/App.test.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

fix: Correct test error handling in pre-commit and CI
  .github/workflows/ci.yml
  .husky/pre-commit
  frontend/package.json
Due: none

style: Fix clippy warning in detector.rs
  backend/src/importer/detector.rs
Due: cd backend && cargo fmt --all

test: verify lint-staged backend formatting
  .lintstagedrc.js
  .lintstagedrc.json
  backend/src/test_formatting.rs
Due: cd backend && cargo fmt --all

test: verify detector.rs formatting is preserved
  backend/src/importer/detector.rs
Due: cd backend && cargo fmt --all

test: remove test formatting file
  backend/src/test_formatting.rs
Due: cd backend && cargo fmt --all

fix: Improve lint-staged configuration for Rust formatting
  package.json
Due: none

refactor: Split CI jobs into checks and tests
  .github/workflows/ci.yml
Due: none

fix: Ensure pre-commit hook exits on lint-staged failure
  .husky/pre-commit
Due: none

refactor: Split CI workflows by frontend/backend
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

feat: Implement Phase 3 - Y-junction angle calculation and data model
  backend/src/importer/calculator.rs
  backend/src/importer/detector.rs
  backend/src/importer/mod.rs
  backend/src/importer/parser.rs
Due: cd backend && cargo fmt --all

feat: Implement Backend Phase 3 - API endpoints
  backend/src/api/handlers.rs
  backend/src/api/mod.rs
  backend/src/api/routes.rs
  backend/src/lib.rs
  backend/src/main.rs
  doc/mvp-requirements.md
  doc/todo.md
Due: cd backend && cargo fmt --all

docs: Mark Phase 3 as completed in todo.md
  doc/todo.md
Due: none

feat: Implement filter panel and popup for Phase 3
  doc/todo.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/JunctionPopup.tsx
  frontend/src/components/MapView.tsx
  frontend/src/components/StatsDisplay.tsx
  frontend/src/hooks/useFilters.ts
  frontend/src/types/index.ts
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

fix: Apply cargo fmt to handlers and main
  backend/src/api/handlers.rs
  backend/src/main.rs
Due: cd backend && cargo fmt --all

style: Run cargo fmt to fix CI formatting errors
  backend/src/importer/calculator.rs
  backend/src/importer/parser.rs
Due: cd backend && cargo fmt --all

style: Fix Prettier formatting
  frontend/src/components/JunctionPopup.tsx
  frontend/src/components/MapView.tsx
  frontend/src/hooks/useFilters.ts
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

fix: Return true total_count in GET /junctions response
  backend/src/api/handlers.rs
  backend/src/db/repository.rs
Due: cd backend && cargo fmt --all

fix: Validate limit parameter to reject non-positive values
  backend/src/api/handlers.rs
Due: cd backend && cargo fmt --all

test: Add API integration tests for Phase 4
  backend/Cargo.toml
  backend/tests/api_tests.rs
Due: cd backend && cargo fmt --all

feat: Phase 4 - スタイリングと最適化
  doc/todo.md
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/JunctionPopup.tsx
  frontend/src/components/MapView.tsx
  frontend/src/components/StatsDisplay.tsx
  frontend/src/hooks/useFilters.ts
  frontend/src/hooks/useJunctions.ts
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

fix: Add PostgreSQL service to CI for API tests
  .github/workflows/backend-ci.yml
Due: none

perf: Optimize React.memo effectiveness and improve accessibility
  frontend/src/App.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

a11y: Add aria-controls to mobile menu button
  frontend/src/App.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

fix: Correct type errors and apply code formatting
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/MapView.tsx
  frontend/src/hooks/useJunctions.ts
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

docs: Mark Frontend Phase 4 as completed
  doc/todo.md
Due: none

docs: Add workflow task for lint-staged fix
  doc/todo.md
Due: none

feat: Implement Phase 4 - Database bulk insert
  backend/src/bin/import.rs
  backend/src/importer/detector.rs
  backend/src/importer/inserter.rs
  backend/src/importer/mod.rs
  backend/src/importer/parser.rs
  doc/todo.md
Due: cd backend && cargo fmt --all

docs: Update todo.md and CLAUDE.md for Phase 4 completion
  CLAUDE.md
  doc/todo.md
Due: none

test: Verify pre-commit hook for frontend (Step 1)
  .husky/pre-commit
  frontend/.lintstagedrc.js
  frontend/src/App.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format
