Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: Add attribute_condition to Workload Identity Pool Provider
  terraform/github-actions.tf
Due: none

docs: Update Phase 2 completion status
  doc/deploy-automation-todo.md
Due: none

refactor: Separate CI and deployment responsibilities
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

fix: Remove false-positive secret verification step from frontend deploy
  .github/workflows/deploy.yml
Due: none

docs: Update task list - remove secret verification step
  doc/deploy-automation-todo.md
Due: none

fix: Add rustls feature to sqlx-cli for TLS support
  .github/workflows/deploy.yml
Due: none

feat: Add copyright footer to frontend
  frontend/src/App.css
  frontend/src/App.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: Add Cloud Build staging bucket access permission
  terraform/github-actions.tf
Due: none

feat: Change theme colors to purple, yellow, and dark blue
  frontend/src/App.css
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: Use cloudbuild.builds.builder role for comprehensive permissions
  terraform/github-actions.tf
Due: none

refactor: Build Docker image in GitHub Actions with Buildx and cache optimization
  .github/workflows/deploy.yml
Due: none

chore: Clean up unused Cloud Build permissions
  terraform/github-actions.tf
Due: none

fix: Add --no-service-account to Cloud Run deploy
  .github/workflows/deploy.yml
Due: none

fix: Add Cargo.lock for reproducible builds
  .gitignore
  backend/Cargo.lock
Due: none

fix: Add dedicated Cloud Run runtime service account
  .github/workflows/deploy.yml
  terraform/github-actions.tf
Due: none

fix: Skip SQLx CLI installation when cache hits
  .github/workflows/deploy.yml
Due: none

fix: Skip sqlx-cli install when Cargo cache hits in CI
  .github/workflows/backend-ci.yml
Due: none

fix: Add cache-hit check to backend-test job
  .github/workflows/deploy.yml
Due: none

feat: Add Terraform Cloud backend for centralized state management
  terraform/versions.tf
Due: none

docs: Remove DEPLOY.md and consolidate into README
  DEPLOY.md
  README.md
Due: none

fix: Remove unsupported execution_mode from Terraform Cloud config
  terraform/versions.tf
Due: none

feat: Remove skewed (direct branch) angle type from filters
  backend/src/api/handlers.rs
  backend/src/db/repository.rs
  backend/src/domain/junction.rs
  doc/mvp-requirements.md
  doc/todo.md
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/JunctionPopup.tsx
  frontend/src/components/MapView.tsx
  frontend/src/hooks/useFilters.ts
  frontend/src/hooks/useJunctions.ts
  frontend/src/types/index.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: Update verysharp angle type color to purple
  README.md
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

perf: Optimize Docker build with cargo-chef
  backend/Dockerfile
Due: none

fix: Address CodeRabbit review feedback on Dockerfile
  backend/Dockerfile
Due: none

feat: 角度タイプのラベルを「中間」から「広角」に変更
  CLAUDE.md
  doc/mvp-requirements.md
  doc/todo.md
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/JunctionPopup.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: Send angle_type as comma-separated string to match backend expectation
  frontend/src/api/client.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: optimize deploy workflow with change detection
  .github/workflows/deploy.yml
  doc/todo.md
Due: none

chore: Add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

fix: upgrade sqlx to 0.8.6 and resolve security vulnerabilities
  .github/workflows/deploy.yml
  backend/Cargo.lock
  backend/Cargo.toml
  doc/todo.md
Due: none

ci: install cargo-audit in CI pipeline
  .github/workflows/deploy.yml
Due: none

chore: Optimize Dependabot configuration with grouping and security separation
  .github/dependabot.yml
Due: none

ci: optimize backend test caching strategy
  .github/workflows/deploy.yml
Due: none

fix: use pinned v1.16.1 binary instead of main branch script
  .github/workflows/deploy.yml
Due: none

refactor: use taiki-e/install-action for tool installation
  .github/workflows/deploy.yml
Due: none

refactor: use cargo install with manual cache for tool installation
  .github/workflows/deploy.yml
Due: none

fix: モバイルでハンバーガーメニューが反応しない問題を修正
  frontend/src/App.css
Due: cd frontend && npm run format

fix: use minimum angle across all three angles for filtering
  backend/src/db/repository.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: 標高データ機能の実装計画を追加
  doc/elevation-feature.md
Due: none

feat: Phase 1実装 - GSI標高データ基盤
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/importer/elevation.rs
  backend/src/importer/mod.rs
  backend/tests/fixtures/gsi/xml/test-tile.xml
  doc/elevation-feature.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

Path conditions:
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx}
  cd frontend && npm run lint:fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && npm run format: (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.css)
  cargo fmt --manifest-path backend/Cargo.toml --: any of: backend/**/*.rs
  cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings: any of: backend/**/*.rs
