Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: URLコピーボタンにtype="button"とaria-labelを追加する
  frontend/src/components/JunctionPopup.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: マーカークリック時のpushStateを削除する
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: GET /api/junctions/node/:osm_node_id エンドポイントを追加する
  backend/src/api/handlers.rs
  backend/src/api/routes.rs
  backend/src/db/repository.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: Y字路マーカーへのURLリンク機能を追加する
  doc/junction-url-link.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/components/JunctionPopup.tsx
  frontend/src/components/MapView.tsx
  frontend/vite.config.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: URLアクセス時に上空からズームインするフォーカスアニメーションを追加する
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

data: Add 韓国 Y-junction data
  doc/data-updates.md
Due: none

docs: 本番環境白画面バグの調査レポートを追加する
  doc/bug-white-screen-production.md
Due: none

fix: vite.config.ts の base を './' に戻して白画面を修正する
  frontend/vite.config.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

docs: GCS上でのマーカーURL直リンクバグの修正計画を追加する
  doc/bug-gcs-spa-routing.md
Due: none

fix: URLコピーとルーティングをハッシュベースに変更してGCSでの直リンクを修正する
  frontend/src/components/JunctionPopup.tsx
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: find_by_bbox に ORDER BY id を追加して西側偏りを修正する
  backend/src/db/repository.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: マーカーをY字路形状のSVGアイコンに変更する
  backend/src/domain/junction.rs
  backend/tests/api_tests.rs
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix(deps): eslint-plugin-react を削除し eslint を 9.x に固定する
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): eslint を 9.x に固定
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: Dependabot PR を自動処理する skill を追加
  .claude/commands/dependabot-backend.md
  .claude/commands/dependabot-frontend.md
  .claude/commands/dependabot.md
Due: none

docs: 中国Y字路対応の設計書を追加
  doc/china-support.md
Due: none

feat: 中国本土Y字路の百度全景ストリートビュー対応
  .claude/settings.json
  CLAUDE.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/007_add_baidu_panoid.sql
  backend/src/api/handlers.rs
  backend/src/api/mod.rs
  backend/src/api/streetview_enricher.rs
  backend/src/bin/import_baidu_panoid.rs
  backend/src/db/baidu_repository.rs
  backend/src/db/mod.rs
  backend/src/domain/china.rs
  backend/src/domain/mod.rs
  backend/src/importer/baidu.rs
  backend/src/importer/mod.rs
  backend/tests/api_tests.rs
  frontend/src/components/JunctionPopup.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: SessionStart hook を削除
  .claude/settings.json
Due: none

docs: CLAUDE.md で README.md を必読に戻す
  CLAUDE.md
Due: none

feat: 中国本土Y字路の百度全景ストリートビュー対応 (#205)
  CLAUDE.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/007_add_baidu_panoid.sql
  backend/src/api/handlers.rs
  backend/src/api/mod.rs
  backend/src/api/streetview_enricher.rs
  backend/src/bin/import_baidu_panoid.rs
  backend/src/db/baidu_repository.rs
  backend/src/db/mod.rs
  backend/src/domain/china.rs
  backend/src/domain/mod.rs
  backend/src/importer/baidu.rs
  backend/src/importer/mod.rs
  backend/tests/api_tests.rs
  frontend/src/components/JunctionPopup.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore(deps): bump rustls-webpki to 0.103.12 to fix RUSTSEC advisories
  backend/Cargo.lock
Due: none

chore: align .env.example defaults with docker-compose (CockroachDB)
  backend/.env.example
Due: none

fix: rustls-webpki 脆弱性修正 & .env.example を CockroachDB に揃える (#206)
  backend/.env.example
  backend/Cargo.lock
Due: none

ci: cargo audit を PR CI へ移動し deploy から除去
  .github/workflows/backend-ci.yml
  .github/workflows/deploy.yml
Due: none

ci: cargo audit を PR CI へ移動し deploy から除去 (#208)
  .github/workflows/backend-ci.yml
  .github/workflows/deploy.yml
Due: none

ci: release-drafter を releaser と autolabeler に分離
  .github/workflows/autolabeler.yml
  .github/workflows/release-drafter.yml
Due: none

ci: v7 の正しいサブアクション release-drafter/autolabeler@v7 を使用
  .github/workflows/autolabeler.yml
  .github/workflows/release-drafter.yml
Due: none

data: 上海データ追加 + is_in_china_mainland 誤判定修正
  .claude/commands/add-region.md
  .claude/commands/deploy-data.md
  .claude/commands/sync-from-prod.md
  backend/src/api/streetview_enricher.rs
  backend/src/domain/china.rs
  backend/src/domain/junction.rs
  backend/src/importer/mod.rs
  doc/data-updates.md
  frontend/src/components/JunctionPopup.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: add-region skill の cd backend 重複を解消
  .claude/commands/add-region.md
Due: none

fix: is_in_china_mainland で中国東北部が日本扱いになる誤判定を修正
  backend/src/domain/china.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: 旧 Japan box が偶然覆っていた DPRK/Russia 領域を明示 box で補完
  backend/src/domain/china.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

refactor: 冗長な total_count 伝搬を削除
  backend/src/api/handlers.rs
  backend/src/api/streetview_enricher.rs
  backend/src/db/repository.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: import_baidu_panoid_data の doc コメントを fail-fast 実装に合わせる
  backend/src/importer/mod.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: fenced code block に言語タグを追加 (MD040)
  .claude/commands/add-region.md
Due: none

data: 上海データ追加 + is_in_china_mainland 誤判定修正 (#210)
  .claude/commands/add-region.md
  .claude/commands/deploy-data.md
  .claude/commands/sync-from-prod.md
  backend/src/api/handlers.rs
  backend/src/api/streetview_enricher.rs
  backend/src/db/repository.rs
  backend/src/domain/china.rs
  backend/src/domain/junction.rs
  backend/src/importer/mod.rs
  doc/data-updates.md
  frontend/src/components/JunctionPopup.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

ci: release-drafter を releaser と autolabeler に分離 (#209)
  .github/workflows/autolabeler.yml
  .github/workflows/release-drafter.yml
Due: none

fix: Baidu panoid 取り込みの API 作法とキャッシュ整備
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/008_add_baidu_queried_at.sql
  backend/src/db/baidu_repository.rs
  backend/src/importer/baidu.rs
  backend/src/importer/mod.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: bulk_mark_queried を panoid なし限定に & doc の pacing 記述を更新
  backend/src/db/baidu_repository.rs
  backend/src/importer/mod.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: 中国座標系まわりの Q&A メモを追加
  doc/china-coordinate-systems-qa.md
Due: none

chore: .mcp.json を削除
  .mcp.json
Due: none

Path conditions:
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx}
  cd frontend && npm run lint:fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && npm run format: (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.css)
  cargo fmt --manifest-path backend/Cargo.toml --: any of: backend/**/*.rs
  cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings: any of: backend/**/*.rs
