Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

.lintstagedrc.json:

{
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && npm run typecheck",
    "cd frontend && npm run lint:fix",
    "cd frontend && npm run format"
  ],
  "frontend/**/*.css": [
    "cd frontend && npm run format"
  ],
  "backend/**/*.rs": [
    "cargo fmt --manifest-path backend/Cargo.toml --",
    "cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings"
  ]
}

test: cities.test.ts を削除（手書き定数にロジックがなく守る振る舞いがない）
  frontend/src/data/cities.test.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

refactor: 都市データを constants/ へ移動し gitignore 回避を解消
  .gitignore
  frontend/src/App.tsx
  frontend/src/components/CityJumpSelect.tsx
  frontend/src/constants/cities.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

test: 連続選択テストで value="" リセットを検証
  frontend/src/components/CityJumpSelect.test.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: 主要都市へジャンプする機能を追加 (#302)
  docs/superpowers/plans/2026-08-08-city-jump.md
  docs/superpowers/specs/2026-08-08-city-jump-design.md
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/CityJumpSelect.test.tsx
  frontend/src/components/CityJumpSelect.tsx
  frontend/src/components/MapView.tsx
  frontend/src/constants/cities.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: 主要都市ジャンプにシンガポールを追加
  frontend/src/components/CityJumpSelect.test.tsx
  frontend/src/constants/cities.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

chore: add-region の Baidu panoid 取得を中国本土限定に修正
  .claude/commands/add-region.md
Due: none

data: シンガポールのY字路データを追加
  doc/data-updates.md
Due: none

chore: add-region に主要都市ジャンプ追加ステップを追加
  .claude/commands/add-region.md
Due: none

data: シンガポールのY字路データを追加 (#305)
  .claude/commands/add-region.md
  doc/data-updates.md
  frontend/src/components/CityJumpSelect.test.tsx
  frontend/src/constants/cities.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

docs: Google ストリートビュー非カバレッジノード除外の設計書を追加
  doc/streetview-coverage-filter.md
Due: none

docs: API 有効化・キー発行を Terraform に統一（CLI 案を撤回）
  doc/streetview-coverage-filter.md
Due: none

docs: API キー Terraform 節を修正（GA 明記・apikeys API 有効化を追記）
  doc/streetview-coverage-filter.md
Due: none

chore: Street View Static API 有効化とローカル enrich 用 API キーを Terraform 化
  terraform/outputs.tf
  terraform/streetview.tf
Due: none

docs: API キー漏洩時の課金リスクと緩和（クォータ上限・ローテーション）を追記
  doc/streetview-coverage-filter.md
Due: none

chore: API キーの課金リスクと緩和（クォータ上限）をコメントで明記
  terraform/streetview.tf
Due: none

docs: 課金リスク対策を検証済みの Terraform クォータ 0 化に修正
  doc/streetview-coverage-filter.md
Due: none

chore: Street View 課金メトリックの日次上限を 0 化しキー漏洩の課金を無害化
  terraform/streetview.tf
  terraform/versions.tf
Due: none

docs: 指摘B を「受容」と正直に記述（やらない運用は書かない）
  doc/streetview-coverage-filter.md
Due: none

chore: Street View Static API 有効化とローカル enrich 用 API キーを Terraform 化 (#306) (#307)
  terraform/outputs.tf
  terraform/streetview.tf
  terraform/versions.tf
Due: none

chore: google_streetview_coverage テーブルを追加 (#306)
  backend/migrations/011_create_google_streetview_coverage.sql
Due: none

docs: migration のコメントを非自明な why だけに削る
  backend/migrations/011_create_google_streetview_coverage.sql
Due: none

chore: google_streetview_coverage テーブルを追加 (#306) (#308)
  backend/migrations/011_create_google_streetview_coverage.sql
Due: none

feat: Street View カバレッジ照会バッチを追加 (#306)
  backend/.env.example
  backend/Cargo.toml
  backend/src/bin/import_google_streetview.rs
  backend/src/db/google_repository.rs
  backend/src/db/mod.rs
  backend/src/importer/google.rs
  backend/src/importer/mod.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

refactor: 未照会ノード抽出の SQL を bind parameter で1本にする
  backend/src/db/google_repository.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: UNKNOWN_ERROR を再試行対象にする (#306)
  backend/src/importer/google.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: NOT_FOUND を「カバレッジ無し」と扱わない (#306)
  backend/src/importer/google.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: 返却されたパノラマ座標との距離を自前で検証する (#306)
  backend/src/importer/google.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: 5xx を「レート制限」と報告しない (#306)
  backend/src/importer/google.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: API キーを trim し、env を書き換えないテストにする (#306)
  backend/src/importer/google.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: 中断時に取得済み結果を flush し、原因を落とさず、キー検証を前倒しする (#306)
  backend/src/importer/mod.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: radius=10 の妥当性を検証するスクリプトを追加 (#306)
  scripts/verify_streetview_radius.py
Due: none

feat: 距離チェックによる除外を集計してログに出す (#306)
  backend/src/importer/google.rs
  backend/src/importer/mod.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: 設計書の 10m 判定を実測に合わせて修正 (#306)
  doc/streetview-coverage-filter.md
Due: none

feat: Street View カバレッジ照会バッチを追加 (#306) (#309)
  backend/.env.example
  backend/Cargo.toml
  backend/src/bin/import_google_streetview.rs
  backend/src/db/google_repository.rs
  backend/src/db/mod.rs
  backend/src/importer/google.rs
  backend/src/importer/mod.rs
  backend/tests/api_tests.rs
  doc/streetview-coverage-filter.md
  scripts/verify_streetview_radius.py
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: /deploy-data に google_streetview_coverage の反映を追加 (#306)
  .claude/commands/deploy-data.md
Due: none

chore: /deploy-data に google_streetview_coverage の反映を追加 (#306) (#310)
  .claude/commands/deploy-data.md
Due: none

perf: Street View カバレッジ照会を並列化 (#306)
  backend/src/importer/google.rs
  backend/src/importer/mod.rs
  doc/streetview-coverage-filter.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

perf: Street View カバレッジ照会を並列化 (#306) (#311)
  backend/src/importer/google.rs
  backend/src/importer/mod.rs
  doc/streetview-coverage-filter.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: ストリートビュー非カバレッジノードを地図から除外 (#306)
  backend/src/api/streetview_enricher.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: LIMIT 後に除外する設計判断をコメントに残す (#306)
  backend/src/api/streetview_enricher.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings
