Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

.lintstagedrc.json:

{
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && npm run typecheck",
    "cd frontend && npm run lint:fix",
    "cd frontend && npm run format"
  ],
  "frontend/**/*.css": [
    "cd frontend && npm run format"
  ],
  "backend/**/*.rs": [
    "cargo fmt --manifest-path backend/Cargo.toml --",
    "cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings"
  ]
}

fix(infra): URL-encode CockroachDB SQL password in connection URI
  terraform/outputs.tf
Due: none

fix(db): Add explicit constraint names to migration 001 for CockroachDB compatibility
  backend/migrations/001_create_y_junctions.sql
Due: none

doc: Add CockroachDB migration procedure and issues documentation
  doc/cockroachdb-issues.md
  doc/cockroachdb-migration-procedure.md
Due: none

fix(frontend): Use osm_node_id as React key for Marker
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

data: 台湾のY字路データを追加（74,277件）
  doc/adding-regional-data.md
  doc/data-updates.md
Due: none

docs: コマンド実行ルールを追加
  CLAUDE.md
Due: none

docs: IMPORT INTO のセマンティクスを正確に記述
  doc/adding-regional-data.md
Due: none

docs: 地域データ追加手順を正確な内容に修正
  doc/adding-regional-data.md
Due: none

chore: 本番DBをNeonからCockroachDBに切り替え
  terraform/backend.tf
  terraform/cockroachdb.tf
  terraform/outputs.tf
Due: none

fix: CockroachDBで空間インデックスが使われずフルスキャンになる問題を修正
  backend/src/db/repository.rs
  doc/cockroachdb-issues.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: ST_MakeEnvelopeの説明を追記
  doc/cockroachdb-issues.md
Due: none

perf: デバウンスを300msから600msに変更してクエリ発行回数を削減
  doc/api-query-performance.md
  frontend/src/hooks/useJunctions.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

docs: カテゴリbitmaskの計算値を2276から3276に修正
  doc/api-query-performance.md
Due: none

docs: 完了済みドキュメントをdoc/archiveに移動
  doc/archive/cockroachdb-issues.md
  doc/archive/cockroachdb-migration-procedure.md
  doc/archive/cold-start-optimization.md
  doc/archive/database-migration-strategy.md
  doc/archive/deploy-automation-todo.md
  doc/archive/elevation-feature.md
  doc/archive/github-actions-deployment.md
  doc/archive/highway-type-implementation-plan.md
  doc/archive/mvp-requirements.md
  doc/archive/performance-optimization.md
  doc/archive/todo.md
Due: none

docs: adding-regional-dataをadd-regionスキルに移行
  .claude/commands/add-region.md
Due: none

docs: add-regionスキルのbboxを引数から対話的確認に変更
  .claude/commands/add-region.md
Due: none

docs: elevation-import-parallelizationをarchiveに移動
  doc/archive/elevation-import-parallelization.md
Due: none

docs: 2way-y-junction-detectionをarchiveに移動
  doc/archive/2way-y-junction-detection.md
Due: none

fix: ローカル開発環境のDBをCockroachDBに修正
  README.md
  scripts/setup-worktree.sh
Due: none

fix: READMEとsetup-worktree.shの残存PostgreSQL参照をCockroachDBに修正
  README.md
  scripts/setup-worktree.sh
Due: none

refactor: deploy-dataスキルを新規作成しadd-regionのスコープを整理
  .claude/commands/add-region.md
  .claude/commands/deploy-data.md
  README.md
Due: none

fix: PostgreSQLコンテナの説明を「現在は未使用」に統一
  README.md
Due: none

chore: 未使用のPostgreSQLコンテナをdocker-compose.ymlから削除
  README.md
  docker-compose.yml
Due: none

fix: setup-worktree.shのスキーマ変更手順にTEST_DATABASE_URLを追加
  scripts/setup-worktree.sh
Due: none

fix: スキーマ変更時の.env書き換えにTEST_DATABASE_URLを追加
  README.md
Due: none

perf: STORED lat/lon + B-tree インデックスで大bboxクエリを13x高速化
  backend/migrations/006_add_lon_lat_stored.sql
  backend/src/db/repository.rs
  doc/archive/explain-analyze-after.md
  doc/archive/explain-analyze-baseline.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: add-regionのインポートコマンドをIMPORT INTOに修正し、sync-from-prodに分離
  .claude/commands/add-region.md
  .claude/commands/sync-from-prod.md
Due: none

docs: READMEにsync-from-prodスキルを追記
  README.md
Due: none

fix: angle_type フィルタで LEAST() を使い最小角を正しく判定する
  backend/src/db/repository.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: ドラッグ後スナップバックのバグ調査レポートを追加
  doc/bug-snapback-investigation.md
Due: none

fix: AbortControllerでフェッチのレースコンディションを解消する
  frontend/src/api/client.ts
  frontend/src/hooks/useJunctions.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: Cloud Logging → BigQuery ログシンクをTerraformで追加する
  terraform/logging.tf
Due: none

fix: テーブル全体ではなくパーティション単位で90日保持に修正する
  terraform/logging.tf
Due: none

feat: Y字路マーカーにURLリンク機能を追加する
  backend/src/api/handlers.rs
  backend/src/api/routes.rs
  backend/src/db/repository.rs
  backend/tests/api_tests.rs
  doc/junction-url-link.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/JunctionPopup.tsx
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: マーカークリックとブラウザ戻る/進むでselectedOsmNodeIdを同期する
  frontend/src/App.tsx
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: マーカークリック時のflyTo誤動作を修正する
  frontend/src/App.tsx
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: URL直接アクセス時に東京からのアニメーション移動を廃止する
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

revert: 戻る/進む対応とアニメーション変更の3コミットを取り消す
  frontend/src/App.tsx
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: マーカークリック時にselectedOsmNodeIdを更新する
  frontend/src/App.tsx
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

fix: URL直接アクセス時の初期位置を東京ではなく対象ノードにする
  frontend/src/components/MapView.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format
