Repository cozy-corner/y-junctions: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

chore: add data/ directory to .gitignore
  backend/.gitignore
Due: none

perf: optimize glob by caching file list at initialization
  backend/src/importer/elevation.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: add clamping to prevent floating point edge cases in grid index calculation
  backend/src/importer/elevation.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: update get_elevation doc comment to reflect actual error handling
  backend/src/importer/elevation.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: prevent sqlx-cli cache race condition in CI
  .github/workflows/backend-ci.yml
Due: none

feat: add elevation data model (Phase 2)
  backend/src/db/repository.rs
  backend/src/domain/junction.rs
  backend/src/importer/detector.rs
  backend/src/importer/parser.rs
  doc/elevation-feature.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

Configure CodeRabbit to review all branches
  .coderabbit.yaml
Due: none

feat: integrate elevation data retrieval into OSM import (Phase 3)
  backend/src/bin/import.rs
  backend/src/importer/mod.rs
  backend/src/importer/parser.rs
  doc/elevation-feature.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: remove underscore prefix from elevation_dir parameter
  backend/src/importer/parser.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: extend database schema for elevation data (Phase 4)
  backend/migrations/003_add_elevation.sql
  doc/elevation-feature.md
Due: none

Revert "Merge pull request #85 from cozy-corner/elevation-phase4"
  backend/migrations/003_add_elevation.sql
  backend/src/bin/import.rs
  backend/src/db/repository.rs
  backend/src/domain/junction.rs
  backend/src/importer/detector.rs
  backend/src/importer/mod.rs
  backend/src/importer/parser.rs
  doc/elevation-feature.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: implement elevation data insertion (Phase 5)
  backend/src/db/repository.rs
  backend/src/importer/inserter.rs
  backend/tests/api_tests.rs
  doc/elevation-feature.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: add elevation filter to API (Phase 6)
  backend/src/api/handlers.rs
  backend/src/db/repository.rs
  backend/tests/api_tests.rs
  doc/elevation-feature.md
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

test: strengthen min_angle_elevation_diff filter test assertion
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: add elevation filter to frontend and update docs (Phase 7)
  .gitignore
  doc/elevation-feature.md
  frontend/src/App.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/JunctionPopup.tsx
  frontend/src/hooks/useFilters.ts
  frontend/src/types/index.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

docs: simplify data placement guide, remove worktree-specific details
  doc/elevation-feature.md
Due: none

docs: unify OSM and GSI data placement structure
  doc/elevation-feature.md
Due: none

feat: implement 2-stage import process for OSM and elevation data (Phase 8)
  backend/Cargo.toml
  backend/src/bin/import.rs
  backend/src/bin/import_elevation.rs
  backend/src/db/repository.rs
  backend/src/importer/calculator.rs
  backend/src/importer/elevation.rs
  backend/src/importer/mod.rs
  backend/src/importer/parser.rs
  backend/tests/api_tests.rs
  backend/tests/fixtures/gsi/xml/FG-GML-5238-40-00-DEM5B-20210115.xml
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: add TEST_DATABASE_URL to CI environment
  .github/workflows/backend-ci.yml
Due: none

docs: add comment explaining why min_angle_elevation_diff is not in ElevationUpdate
  backend/src/db/repository.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: log errors when getting neighbor elevations
  backend/src/importer/mod.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: add missing min_angle_elevation_diff parameter and adjust max value
  frontend/src/api/client.ts
  frontend/src/components/FilterPanel.tsx
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format

feat: Add Serena MCP server configuration
  .gitignore
  .mcp.json
Due: none

feat: add range search for elevation difference filter with "10m+" display
  backend/src/api/handlers.rs
  backend/src/db/repository.rs
  backend/tests/api_tests.rs
  doc/elevation-feature.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/FilterPanel.tsx
  frontend/src/hooks/useFilters.ts
  frontend/src/types/index.ts
Due: cd frontend && npm run typecheck, cd frontend && npm run lint:fix, cd frontend && npm run format, cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: remove max elevation diff upper limit and add test/prod DB separation
  backend/Cargo.toml
  backend/docker-compose.yml
  backend/docker/init-db.sh
  backend/src/api/handlers.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: configure CI to use separate test database
  .github/workflows/backend-ci.yml
Due: none

fix: remove redundant migration steps from CI
  .github/workflows/backend-ci.yml
Due: none

fix: remove unnecessary DATABASE_URL from CI test job
  .github/workflows/backend-ci.yml
Due: none

fix: update deploy workflow to use separate test database
  .github/workflows/deploy.yml
Due: none

fix: filter GSI elevation -9999 values to NULL
  backend/src/importer/elevation.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

feat: add bridge/tunnel way tags to Y-junctions
  backend/migrations/004_add_way_tags.sql
  backend/src/db/repository.rs
  backend/src/importer/detector.rs
  backend/src/importer/inserter.rs
  backend/src/importer/parser.rs
  backend/tests/api_tests.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

docs: 高低差検索機能のドキュメントを整備
  README.md
Due: none

fix: ensure consistent ordering of neighbor nodes and way tags
  backend/src/importer/detector.rs
  backend/src/importer/parser.rs
Due: cargo fmt --manifest-path backend/Cargo.toml --, cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings

fix: upgrade cargo-audit to 0.22.0 to support CVSS 4.0
  .github/workflows/deploy.yml
  frontend/package-lock.json
Due: none

fix: ensure Cloud Run traffic switches to new revisions
  .github/workflows/deploy.yml
Due: none

improve: add error handling to deployment verification
  .github/workflows/deploy.yml
Due: none

fix: add retry logic for revision URL retrieval
  .github/workflows/deploy.yml
Due: none

revert: simplify deployment to use Cloud Run default behavior
  .github/workflows/deploy.yml
Due: none

feat: automate worktree setup with shared database
  .env.example
  README.md
  backend/.env.example
  docker-compose.yml
  scripts/setup-worktree.sh
Due: none

Path conditions:
  cd frontend && npm run typecheck: any of: frontend/**/*.{ts,tsx}
  cd frontend && npm run lint:fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && npm run format: (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.css)
  cargo fmt --manifest-path backend/Cargo.toml --: any of: backend/**/*.rs
  cargo clippy --manifest-path backend/Cargo.toml --all-targets --all-features -- -D warnings: any of: backend/**/*.rs
